/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #111111;
  --off-white: #f3f4f6;
  --dark-gray: #374151;
  --light-gray: #6b7280;
}
body {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url("img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

/* Spacing */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}

hr {
  margin: 2rem 0rem;
}
h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}
/* General styles */
.text-center {
  text-align: center;
}
.intro .intro-subtitle {
    font-size: 2.5rem;
  }
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color:floralwhite;
}
.intro .intro-subtitle {
    font-size: 2.5rem;
  }


/** links **/
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
}
.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.link-primary:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.link-secondary:hover {
  background-color: var(--primary-color);
  color: white;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/** lists **/

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/** home **/
#home {
  padding: 2rem;
  height: fit-content;
  margin: 0 2rem;
  grid-gap: 1rem;
  min-height: 80vh;
}
#home .home-img {
  max-width: 400px;
  display: block;
  margin: 0;
}

}
#home > * {
  flex: 1;
  width: 50%;
}
/** sections **/

.section {
  padding: 2rem;
}
.ow {
  background-color: var(--off-white);
}

/** footers **/


footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}


.text {
	text-transform: uppercase;
	background: linear-gradient(to right, #eee8e8, #93a6d1, #1973D1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 50px;
}